#employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employees tr:nth-child(even){background-color: #f2f2f2;}

#employees tr:hover {background-color: #ddd;}

#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
div.row {
    padding: 10px;
  }
div.container-fluid{
    /* border-style: solid; */
    border-radius: 5px;
    /* border-color: lavender;
    background-color: #e0f3ee; */
    margin-top: 5%;
    /* border-width: thin; */
}
div.container{
    border-style: solid;
   border-radius: 5px;
   /* border-color: lavender;
   background-color: #e0f3ee;  */
   margin-top: 5%;
   padding: 10px;
   width: 70%;
   border-width: thin;
}
button {
    align-self: center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
label{
    color: black;
    size: 10ex;
    font: bold;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
   
    -webkit-appearance: none;
    /* color: #95a5a6; */
    color: burlywood;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#dbdddd;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    /* color: #95a5a6; */
    color:black;
    
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
h3{
    align-content: center
}

div.col-md-12 {
    padding: 10px;
  }