<div class="container">
    <div class="col-md-12">
        <h3>Employee list</h3>
    </div>

    <div class="col-md-12">
        <table id="employees">
            <tr>
                <!-- <th>Sr.No.</th> -->
                <th>Emp ID</th>
                <th>Name</th>
                <th>Email ID</th>
                <th>Mobile Number</th>
                <!-- <th>Designmation</th> -->
            </tr>
            <tr *ngFor="let employee of employees">
                <!-- <td>{{employee._id}}</td> -->
                <td>{{employee.empid}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.emailid}}</td>
                <td>{{employee.mobileno}}</td>
                <!-- <td>{{employee.designation}}</td> -->
            </tr>
        </table>


    </div>
</div>