<div class="container">
<mat-tab-group>
  <mat-tab label="Personal Information">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td><label>Employee code</label></td>
            <td><label>{{profile.empid}}</label></td>
          </tr>
          <tr>
            <td><label>Title</label></td>
            <td><label>{{profile.Title}}</label></td>
          </tr>
          <tr>
            <td><label>Employee Name</label></td>
            <td><label>{{profile.name}}</label></td>
          </tr>
          <tr>
            <td><label>Gender</label></td>
            <td><label>{{profile.gender}}</label></td>
          </tr>
          <tr>
            <td><label>Date of birth</label></td>
            <td><label>{{profile.dob}}</label></td>
          </tr>
          <tr>
          <td><label>Age</label></td>
          <td><label>25</label></td>
        </tr>
        </tbody>
      </table>
    </div>

  </mat-tab>
  <mat-tab label="Employement">
      <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><label>Company</label></td>
                <td><label>{{profile.company}}</label></td>
              </tr>
              <tr>
                <td><label>Email Id</label></td>
                <td><label>{{profile.emailid}}</label></td>
              </tr>
              <tr>
                <td><label>Designation</label></td>
                <td><label>{{profile.designation}}</label></td>
              </tr>
              <tr>
                <td><label>Reporting To</label></td>
                <td><label>{{profile.reporting_to}}</label></td>
              </tr>
              <tr>
                <td><label>joining date</label></td>
                <td><label>{{profile.doj}}</label></td>
              </tr>
              <tr>
              <td><label>Employee Level</label></td>
              <td><label>{{profile.level}}</label></td>
            </tr>
            </tbody>
          </table>
        </div>
  </mat-tab>
</mat-tab-group>
</div>
